.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 30px 0;
}

.dots {
  width: 60px;
  height: 15px;
  border-radius: 50px;
  background: radial-gradient(circle closest-side, #4f46e5 90%, transparent) 0 50%,
              radial-gradient(circle closest-side, #4f46e5 90%, transparent) 50% 50%,
              radial-gradient(circle closest-side, #4f46e5 90%, transparent) 100% 50%;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  animation: dots 0.8s infinite linear;
}

@keyframes dots {
  0%   { background-position: 0px 50%, 30px 50%, 60px 50%; }
  33%  { background-position: 0px 50%, 0px 50%, 30px 50%; }
  66%  { background-position: 30px 50%, 60px 50%, 60px 50%; }
  100% { background-position: 0px 50%, 30px 50%, 60px 50%; }
}
